::-webkit-calendar-picker-indicator {
  /* background-color: #abadc6; */
  /* border-radius: 4px; */
  cursor: pointer;
  transition: 500ms;
  filter: invert(0.8);
}

::-webkit-calendar-picker-indicator:hover {
  scale: 1.2;
}
